[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
configparser = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
requests = "*"
flask-script-extras = "*"

[dev-packages]

[requires]
python_version = "3.8"
